files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-568
            rewrite ^/addiction-recovery-program-overview/?$ https://$host/addiction-treatment-services-dallas/program-overview/ permanent;
            rewrite ^/outpatient/aftercare/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/outpatient/?$ https://$host/addiction-treatment-services-dallas/outpatient/  permanent;
            rewrite ^/dallas-addiction-treatment-facility/?$ https://$host/addiction-treatment-services-dallas/our-facility/ permanent;
            rewrite ^/dallas-addiction-treatment-facility/features-amenities/?$ https://$host/addiction-treatment-services-dallas/features-and-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/addiction-treatment-services-dallas/admissions/ permanent;
            rewrite ^/admissions/what-to-expect/?$ https://$host/addiction-treatment-services-dallas/what-to-expect/ permanent;
            rewrite ^/addiction-treatment-payment-options/?$ https://$host/addiction-treatment-services-dallas/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            #FACILITY-650
            rewrite ^/lorazepam-treatment/overdose-dangers/?$ https://$host/lorazepam-treatment/long-term-effects/ permanent;
            #FACILITY-649
            rewrite ^/trazodone/withdrawal/?$ https://$host/trazodone/long-term-effects/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-services-dallas/what-to-expect/?$ https://$host/addiction-treatment-services-dallas/admissions/ permanent;
            rewrite ^/therapy/dbt/?$ https://$host/therapy/dialectical-behavior-therapy/ permanent;
            rewrite ^/addiction-treatment-services-dallas/outpatient/about-us/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/addiction-treatment-services-dallas/aftercare-2/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/2-ce/?$ https://$host/2c-e/ permanent;
            rewrite ^/drug-addiction/economics/?$ https://$host/ permanent;
            #FACILITY-1189
            rewrite ^/bath-salts/side-effects/?$ https://$host/bath-salts/ permanent;
            rewrite ^/darvocet/?$ https://$host/opiate/ permanent;
            rewrite ^/codeine-addiction/signs-of-abuse/?$ https://$host/codeine-addiction/ permanent;
            rewrite ^/codeine-addiction/withdrawal/?$ https://$host/codeine-addiction/ permanent;
            rewrite ^/aftercare/12-step-meeting/?$ https://$host/addiction-treatment-services-dallas/outpatient/ permanent;
            #FACILITY-1206
            rewrite ^/cmt/?$ https://$host/addiction-treatment-services-dallas/therapy-types/ permanent;
            rewrite ^/therapy/holistic-treatment/?$ https://$host/therapy/holistic-therapy/ permanent;
            rewrite ^/drug-addiction/recovery-exercise/?$ https://$host/therapy/holistic-therapy/ permanent;
            rewrite ^/alcohol-treatment/sober-living/?$ https://$host/sober-living/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1396
            rewrite ^/marijuana-abuse/moon-rocks-guide/?$ https://$host/marijuana-abuse/ permanent;
            rewrite ^/detox/naloxone/?$ https://$host/heroin-treatment/overdose/naloxone/ permanent;
            rewrite ^/prescription-medication/texas/?$ https://$host/texas-treatment/prison-sentencing/ permanent;
            #FACILITY-1432
            rewrite ^/fentanyl-addiction/why/?$ https://$host/fentanyl-addiction/patches/ permanent;
            rewrite ^/prescription-medication/adulterants/?$ https://$host/drug-addiction/adulterants/ permanent;
            #FACILITY-1633
            rewrite ^/tramadol/snorting/?$ https://$host/tramadol/ permanent;
            #FACILITY-1676
            rewrite ^/intervention/sample-letter/?$ https://$host/intervention/ permanent;
            rewrite ^/sober-living/rules/?$ https://$host/sober-living/ permanent;
            rewrite ^/opana/injecting/?$ https://$host/opana/ permanent;
            rewrite ^/ketamine/detox/?$ https://$host/ketamine/ permanent;
            rewrite ^/texas-treatment/southeast/?$ https://$host/texas-treatment/east-texas/ permanent;
            rewrite ^/texas-treatment/northeast/?$ https://$host/texas-treatment/east-texas/ permanent;
            rewrite ^/texas-treatment/southwest/?$ https://$host/texas-treatment/west-texas/ permanent;
            rewrite ^/texas-treatment/northwest/?$ https://$host/texas-treatment/west-texas/ permanent;
            #FACILITY-1729
            rewrite ^/addiction-treatment-services-dallas/program-overview/?$ https://$host/addiction-treatment-services-dallas/ permanent;
            #FACILITY-1779
            rewrite ^/opana/snorting/?$ https://$host/opana/ permanent;
            rewrite ^/spice-addiction/side-effects/?$ https://$host/spice-addiction/ permanent;
            #FACILITY-2393
            rewrite ^/co-occurring-disorders/types/?$ https://$host/co-occurring-disorders/bipolar-disorder/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/recovery-blog/ permanent;
            rewrite ^/recovery-blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/recovery-blog/tag/$ https://$host/blog/tag/ permanent;
            #FACILITY-3199
            rewrite ^/blog/alcohol-relationships/?$ https://$host/alcohol-treatment/living-with-an-alcoholic/ permanent;
            rewrite ^/blog/binge-drinking/?$ https://$host/alcohol-treatment/binge-drinking/ permanent;
