files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/addiction-recovery-program-overview/?$ https://$host/addiction-treatment-services-dallas/program-overview/ permanent;
            rewrite ^/outpatient/aftercare/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/outpatient/?$ https://$host/addiction-treatment-services-dallas/outpatient/  permanent;
            rewrite ^/dallas-addiction-treatment-facility/?$ https://$host/addiction-treatment-services-dallas/our-facility/ permanent;
            rewrite ^/dallas-addiction-treatment-facility/features-amenities/?$ https://$host/addiction-treatment-services-dallas/features-and-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/addiction-treatment-services-dallas/admissions/ permanent;
            rewrite ^/admissions/what-to-expect/?$ https://$host/addiction-treatment-services-dallas/what-to-expect/ permanent;
            rewrite ^/addiction-treatment-payment-options/?$ https://$host/addiction-treatment-services-dallas/payment-options/ permanent;
            rewrite ^/resource-center/?$ https://$host/addiction-resources-center/ permanent;
            rewrite ^/blog/?$ https://$host/recovery-blog/ permanent;
            rewrite ^/las-vegas-addiction-treatment-facility/?$ https://$host/dallas-addiction-treatment-facility/ permanent;
            rewrite ^/treatment_options.html?$ https://$host/addiction-treatment-services-dallas/ permanent;
            rewrite ^/contact_us.html?$ https://$host/contact-our-addiction-treatment-center/ permanent;
            rewrite ^/the_greenhouse_experience.html?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/our_staff.html?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/facility.html?$ https://$host/dallas-addiction-treatment-facility/ permanent;
            rewrite ^/texas-recovery-month/?$ https://$host/blog/texas-recovery-month/ permanent;
            rewrite ^/disclaimer.html?$ https://$host/terms-of-use/ permanent;
            rewrite ^/co-occurring-disorders/living-with-bipolar-disorder-and-addiction/?$ https://$host/co-occurring-disorders/bipolar-disorder/ permanent;
            rewrite ^/get_help_now.html?$ https://$host/contact-our-addiction-treatment-center/ permanent;
            rewrite ^/integrated_wellness.html?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/co-occurring-disorders/guide-to-depression-and-substance-abuse/?$ https://$host/co-occurring-disorders/depression/ permanent;
            rewrite ^/testimonials.html?$ https://$host/blog/ permanent;
            rewrite ^/heroin-treatment/heroin-withdrawal-timeline/?$ https://$host/heroin-treatment/withdrawal-timeline/ permanent;
            rewrite ^/family_care.html?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/philosophy.html/?$ https://$host/brand-promise-details/ permanent;
            rewrite ^/video.html?$ https://$host/dallas-addiction-treatment-facility/ permanent;
            rewrite ^/co-occurring-disorders/guide-to-depression-and-substance-abuse?$ https://$host/co-occurring-disorders/depression/ permanent;
            rewrite ^/treatment_options.html?$ https://$host/addiction-treatment-services-dallas/ permanent;
            rewrite ^/heroin-treatment/heroin-withdrawal-timeline/?$ https://$host/heroin-treatment/withdrawal-timeline/ permanent;
            rewrite ^/our_staff.html?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/contact_us.html?$ https://$host/contact-our-addiction-treatment-center/ permanent;
            rewrite ^/co?$ https://$host/blog/ permanent;
            rewrite ^/Dallas?$ https://$host/dallas-addiction-treatment-facility/ permanent;
            rewrite ^/our_staff?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/painkiller-abuse-unavoidable/?$ https://$host/hydrocodone/ permanent;
            rewrite ^/recovery.html?$ https://$host/therapy/ permanent;
            rewrite ^/drug-addiction/traveling-for-treatment/wwwdasis.samhsa.gov/webt/state_data/US13.pdf?$ https://$host/drug-addiction/traveling-for-treatment/ permanent;
            rewrite ^/prescription-medication/classifications/web.stanford.edu/group/.../cgi.../Winterbourne_SocSci_2012.pdf?$ https://$host/prescription-medication/ permanent;
            rewrite ^/greenhouse_hipaa_policy.html?$ https://$host/privacy-policy/ permanent;
            rewrite ^/wp-content/themes/aac-facilities-parent/js/skip-link-focus-fix.js?ver=20141010?$ https://$host/ permanent;
            rewrite ^/wp-content/themes/greenhouse/assets/icons/browserconfig.xml?$ https://$host/ permanent;
            rewrite ^/outpatient/about/?$ https://$host/outpatient/ permanent;
            rewrite ^/wp-content/themes/greenhouse/assets/icons/favicon.ico?$ https://$host/ permanent;
            rewrite ^/co-occurring/anxiety-and-addiction/?$ https://$host/co-occurring-disorders/anxiety-and-addiction/ permanent;
            rewrite ^/morphine?$ https://$host/morphine-addiction/ permanent;
            rewrite ^/codisorders/bpd-and-addiction/?$ https://$host/co-occurring-disorders/bipolar-disorder/ permanent;
            rewrite ^/xmlrpc.php?rsd?$ https://$host/ permanent;
            rewrite ^/mobile/co-occurring-disorders/drug-induced-psychosis/?$ https://$host/co-occurring-disorders/drug-induced-psychosis/ permanent;
            rewrite ^/texas?$ https://$host/texas-treatment/ permanent;
            rewrite ^/finding-an-interventionist/?$ https://$host/intervention/ permanent;
            rewrite ^/research.html?$ https://$host/drug-addiction/ permanent;
            rewrite ^/co-occurring-disorders/bipolar-types/?$ https://$host/co-occurring-disorders/bipolar-disorder/ permanent;
            rewrite ^/therapy/rehab/?$ https://$host/ permanent;
            rewrite ^/getting_started.html?$ https://$host/addiction-recovery-program-overview/ permanent;
            rewrite ^/xanax-treatment/dealing-with-xanax-withdrawal/?$ https://$host/xanax-treatment/ permanent;
            rewrite ^/drug-addiction/hepatitis/?$ https://$host/drug-addiction/hepatitis-c/ permanent;
            rewrite ^/drug-addiction/admitted-to-rehab/?$ https://$host/rehab/ permanent;
            rewrite ^/withdrawal-timelines-concerta/?$ https://$host/concerta/withdrawal/ permanent;
            rewrite ^/carfentanil-and-overdose-risks/?$ https://$host/carfentanil/ permanent;
            #FACILITY-650
            rewrite ^/lorazepam-treatment/overdose-dangers/?$ https://$host/lorazepam-treatment/long-term-effects/ permanent;
            #FACILITY-649
            rewrite ^/trazodone/withdrawal/?$ https://$host/trazodone/long-term-effects/ permanent;
            #FACILITY-917
            rewrite ^/addiction-treatment-services-dallas/what-to-expect/?$ https://$host/addiction-treatment-services-dallas/admissions/ permanent;
            rewrite ^/therapy/dbt/?$ https://$host/therapy/dialectical-behavior-therapy/ permanent;
            rewrite ^/addiction-treatment-services-dallas/outpatient/about-us/?$ https://$host/about-our-addiction-treatment-center/ permanent;
            rewrite ^/addiction-treatment-services-dallas/aftercare-2/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/aftercare/?$ https://$host/addiction-treatment-services-dallas/aftercare/ permanent;
            rewrite ^/2-ce/?$ https://$host/2c-e/ permanent;
            rewrite ^/drug-addiction/economics/?$ https://$host/ permanent;
            #FACILITY-1189
            rewrite ^/bath-salts/side-effects/?$ https://$host/bath-salts/ permanent;
            rewrite ^/darvocet/?$ https://$host/opiate/ permanent;
            rewrite ^/codeine-addiction/signs-of-abuse/?$ https://$host/codeine-addiction/ permanent;
            rewrite ^/codeine-addiction/withdrawal/?$ https://$host/codeine-addiction/ permanent;
            rewrite ^/aftercare/12-step-meeting/?$ https://$host/addiction-treatment-services-dallas/outpatient/ permanent;
            # FACILITY-1206
            rewrite ^/cmt/?$ https://$host/addiction-treatment-services-dallas/therapy-types/ permanent;
            rewrite ^/therapy/holistic-treatment/?$ https://$host/therapy/holistic-therapy/ permanent;
            rewrite ^/drug-addiction/recovery-exercise/?$ https://$host/therapy/holistic-therapy/ permanent;
            rewrite ^/alcohol-treatment/sober-living/?$ https://$host/sober-living/ permanent;
            # FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            # FACILITY-1396
            rewrite ^/marijuana-abuse/moon-rocks-guide/?$ https://$host/marijuana-abuse/ permanent;
            rewrite ^/detox/naloxone/?$ https://$host/heroin-treatment/overdose/naloxone/ permanent;
            rewrite ^/prescription-medication/texas/?$ https://$host/texas-treatment/prison-sentencing/ permanent;
            # FACILITY-1432
            rewrite ^/fentanyl-addiction/why/?$ https://$host/fentanyl-addiction/patches/ permanent;
            rewrite ^/prescription-medication/adulterants/?$ https://$host/drug-addiction/adulterants/ permanent;
            # FACILITY-1633
            rewrite ^/tramadol/snorting/?$ https://$host/tramadol/ permanent;
            # FACILITY-1676
            rewrite ^/intervention/sample-letter/?$ https://$host/intervention/ permanent;
            rewrite ^/sober-living/rules/?$ https://$host/sober-living/ permanent;
            rewrite ^/opana/injecting/?$ https://$host/opana/ permanent;
            rewrite ^/ketamine/detox/?$ https://$host/ketamine/ permanent;
            rewrite ^/texas-treatment/southeast/?$ https://$host/texas-treatment/east-texas/ permanent;
            rewrite ^/texas-treatment/northeast/?$ https://$host/texas-treatment/east-texas/ permanent;
            rewrite ^/texas-treatment/southwest/?$ https://$host/texas-treatment/west-texas/ permanent;
            rewrite ^/texas-treatment/northwest/?$ https://$host/texas-treatment/west-texas/ permanent;
            # FACILITY-1729
            rewrite ^/addiction-treatment-services-dallas/program-overview/?$ https://$host/addiction-treatment-services-dallas/ permanent;
            # FACILITY-1779
            rewrite ^/opana/snorting/?$ https://$host/opana/ permanent;
            rewrite ^/spice-addiction/side-effects/?$ https://$host/spice-addiction/ permanent;
            # FACILITY-2393
            rewrite ^/co-occurring-disorders/types/?$ https://$host/co-occurring-disorders/bipolar-disorder/ permanent;
